@import "tailwindcss";
@import "tw-animate-css";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);
  --color-field-background: var(--field-background);
  --color-field-foreground: var(--field-foreground);
  --color-field-placeholder: var(--field-placeholder);
  --color-focus: var(--focus);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-overlay: var(--overlay);
  --color-overlay-foreground: var(--overlay-foreground);
  --color-scrollbar: var(--scrollbar);
  --color-segment: var(--segment);
  --color-segment-foreground: var(--segment-foreground);
  --color-separator: var(--separator);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-foreground: var(--surface-secondary-foreground);
  --color-surface-tertiary: var(--surface-tertiary);
  --color-surface-tertiary-foreground: var(--surface-tertiary-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --font-sans: var(--font-fredoka);
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(82% 0.12 37.66);
  --accent-foreground: oklch(15% 0.024 37.66);
  --background: oklch(97.02% 0 37.66);
  --border: oklch(90% 0 37.66);
  --danger: oklch(65.32% 0.2328 359.8);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 37.66);
  --default-foreground: oklch(21.03% 0.0059 37.66);
  --field-background: oklch(100% 0 37.66);
  --field-foreground: oklch(21.03% 0 37.66);
  --field-placeholder: oklch(55.17% 0 37.66);
  --focus: oklch(82% 0.12 37.66);
  --foreground: oklch(21.03% 0 37.66);
  --muted: oklch(55.17% 0 37.66);
  --overlay: oklch(100% 0 37.66);
  --overlay-foreground: oklch(21.03% 0 37.66);
  --scrollbar: oklch(87.1% 0 37.66);
  --segment: oklch(100% 0 37.66);
  --segment-foreground: oklch(21.03% 0 37.66);
  --separator: oklch(92% 0 37.66);
  --success: oklch(73.29% 0.1935 124.87);
  --success-foreground: oklch(21.03% 0.0059 124.87);
  --surface: oklch(100% 0 37.66);
  --surface-foreground: oklch(21.03% 0 37.66);
  --surface-secondary: oklch(95.24% 0 37.66);
  --surface-secondary-foreground: oklch(21.03% 0 37.66);
  --surface-tertiary: oklch(93.73% 0 37.66);
  --surface-tertiary-foreground: oklch(21.03% 0 37.66);
  --warning: oklch(78.19% 0.1585 46.39);
  --warning-foreground: oklch(21.03% 0.0059 46.39);

  --radius: 0.5rem;
}
/* 
.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(82.00% 0.1200 37.66);
  --accent-foreground: oklch(15% 0.0240 37.66);
  --background: oklch(12.00% 0.0000 37.66);
  --border: oklch(28.00% 0.0000 37.66);
  --danger: oklch(59.40% 0.1967 358.69);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 37.66);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 37.66);
  --field-foreground: oklch(99.11% 0.0000 37.66);
  --field-placeholder: oklch(70.50% 0.0000 37.66);
  --focus: oklch(82.00% 0.1200 37.66);
  --foreground: oklch(99.11% 0.0000 37.66);
  --muted: oklch(70.50% 0.0000 37.66);
  --overlay: oklch(21.03% 0.0000 37.66);
  --overlay-foreground: oklch(99.11% 0.0000 37.66);
  --scrollbar: oklch(70.50% 0.0000 37.66);
  --segment: oklch(39.64% 0.0000 37.66);
  --segment-foreground: oklch(99.11% 0.0000 37.66);
  --separator: oklch(25.00% 0.0000 37.66);
  --success: oklch(73.29% 0.1935 124.87);
  --success-foreground: oklch(21.03% 0.0059 124.87);
  --surface: oklch(21.03% 0.0000 37.66);
  --surface-foreground: oklch(99.11% 0.0000 37.66);
  --surface-secondary: oklch(25.70% 0.0000 37.66);
  --surface-secondary-foreground: oklch(99.11% 0.0000 37.66);
  --surface-tertiary: oklch(27.21% 0.0000 37.66);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 37.66);
  --warning: oklch(82.03% 0.1388 50.40);
  --warning-foreground: oklch(21.03% 0.0059 50.40);
} */

@layer base {
  * {
    @apply scroll-smooth;
  }
  
  html {
    @apply overflow-x-hidden font-sans;
  }

  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted/30;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@utility scrollbar-show {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    display: block;
  }
}

@keyframes rotateBorder {
  from {
    --navbar-border-angle: 0deg;
  }
  to {
    --navbar-border-angle: 360deg;
  }
}

@property --navbar-border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
